.card-container .content-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;

  .class-card {
    display: inline-block;
    width: 240px;

    h3 {
      text-align: center;
    }
  }
}
