.details-panel {
  h3 {
    margin-top: 0px;
  }

  height: calc(100% - 108px);
  max-height: calc(100% - 108px);
  min-height: calc(100% - 108px);

  &:after {
    content: '';
    display: block;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: linear-gradient(0deg, #fff 16px, transparent);
    margin: 0;
    padding: 0;
  }
}
